/*--General--*/
* {
    padding: 0;
    margin: 0;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
}
div.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
address{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
    header address a {
        margin: 0px 10px;
        text-decoration: none;
        font-style: normal;
        
    }
    /*--NavBar--*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: auto;
    }
    nav a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    nav i:hover {
        color: #555;
    }
    nav a:hover {
        color: #555;
    }
    nav form {
        display: flex;
        align-items: center;
    }
    nav input {
        padding: 0.5em;
        border: none;
        border-radius: 5px;
        margin-right: 0.5em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.688);
    }
    nav form button {
        padding: 0.5em 1em;
        background-color: #333;
        color: rgb(185, 185, 185);
        border: none;
        border-radius: 5px;
    }
    nav form button:hover {
        background-color: rgb(107, 107, 107);
    }
/*--Article--*/
div.list-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content:center;
        background-color: #fff;
    margin: 5px; 
    box-shadow: 0 0 1px rgb(0, 0, 0);
    height: 250px;
    width: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
article:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.222);
}

a.articleContent{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    /* flex-direction: column; */
    text-decoration: none;
    color: black;
}

div.nameAndPrice{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.img-background{
    /* display: flex; */
    background-color: rgba(255, 249, 236, 0.646);
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 90%; /* pour que l'image ne dépasse pas la largeur de l'élément parent */
    height: auto; /* pour que l'image garde son ratio d'aspect */
    max-height: 95%;
}
.productName{
    text-decoration: none;
    color: black;
}
.price{
    color: #80b500
}

/*--Other--*/
i{
    text-decoration: none;
    color: #333;
}
.fa-magnifying-glass{
    color: white;
}
/*--Footer--*/
footer{
    margin-bottom: 0;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer a{
    margin: 10px;
}

