* {
    padding: 0;
    margin: 0;
}
#background {
    background-color: rgb(212, 212, 212);
    min-height: 100vh;
    padding-top: 20px;
  }

main {
    display: flex;
    align-items: flex-start;
    justify-content:start;
    align-items: flex-start;
}
article {
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    height: 150px;
    width: 150px;
}
article a{
    text-decoration: none;
    color: black;
}