*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/*--------BUTTON BACK HOME-------------*/
.backHome{
 background-color: white;
}
.backHome:hover{
 animation: rainbow-background-rotate 4s infinite;
 cursor: pointer;
}
/*-----------BUTTON + / - ---------------*/
#minusAndPlus{
  display: flex;
  justify-content: center;
  align-items: row;
}
#minus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 3px;
  background-color: #46a623;
  border-radius: 50%;
}
#minus:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 3px;
  background-color: #46a623;
  border-radius: 50%;
  border: 1px solid black;
}
#plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 3px;
  background-color: #46a623;
  border-radius: 50%;
}
#plus:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 3px;
  background-color: #46a623;
  border-radius: 50%;
  border: 1px solid black;
}
a:any-link{
  /* border-radius: 50%; */
  /* background-color: black;
  border: 1px solid black; */
  text-decoration: none;
  color: white;
  
}
a:any-link:hover{
  /* border: 1px solid black;  */
  /* background-color: black;*/
  text-decoration: none;
  color: white;
}
/*------TABLE-----------*/
table {
  width: 80%;
}

th, td {
  text-align: left;
  padding: 8px;
}
th{
  background-color: #46a623;
  
}
tr:nth-child(even) {
  background-color: #dbdbdb;
}

tr:hover {
  animation: rainbow-border 4s infinite;
  animation: rainbow-scale 4s infinite;
  background-color: #99192c45;
}
/* ----RAINBOW------
  @keyframes rainbow {
    0% {
      color: red;
      
    }
    15% {
      color: orange;
    }
    30% {
      color: yellow;
    }
    45% {
      color: green;
      
    }
    60% {
      color: blue;
      
    }
    75% {
      color: indigo;
    }
    90% {
      color: violet;
    }

    100% {
      color: red;
    }
  }

  @keyframes rainbow-border {
    0% {
      border-color: red;
    }

    15% {
      border-color: orange;
    }
    30% {
      border-color: yellow;
    }
    45% {
      border-color: green;

    }
    60% {
      border-color: blue;
    }
    75% {
      border-color: indigo;

    }
    90% {
      border-color: violet;
    }
    100% {
        border-color: red;
    }
  }*/
  @keyframes rainbow-scale {
    0% {
      color: red;
      scale:1;
    }
    15% {
      color: orange;
      scale:0.99;
    }
    30% {
      color: yellow;
      scale:1;
    }
    45% {
      color: green;
      scale:0.99;
    }
    50% {
    }
    60% {
      color: blue;
      scale:1;
      
    }
    75% {
      color: indigo;
      scale:0.99;
    }
    90% {
      color: violet;
      scale:1;
    }
    
    100% {
      color: red;
      scale: 0.99;
    }
  }/*
  @keyframes rainbow-background {
    0% {
      background-color: red;
    }
    15% {
      background-color: orange;
    }
    30% {
      background-color: yellow;
    }
    45% {
      background-color: green;
    }
    60% {
      background-color: blue;
    }
    75% {
      background-color: indigo;
    }
    90% {
      background-color: violet;
    }
    100% {
      background-color: red;
    }
  } */
